
html {
   margin: 0px;
   height: 100%;
   width: 100%;
}

body {
   margin: 0px;
   height: 100%;
   width: 100%;
   background-color: black;
}

.gamebox{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

 .gameend{
  display:flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width:1000px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.gameover{
  /* position: absolute;
  margin: 0 auto;
  transform: translate(-50%,-50%); */
  font-size: 48px;
  font-family: fantasy;
  color:white;
  /* font-weight: bolder; */
}
.box{
  display:inline-block;
  background-color: grey;
  width: 100px;
  height:100px;
}

.box:hover{
  border-style: solid;
  border-width: 5px;
  border-color: black;
  cursor: pointer
}

.loadcolors{
background-color: green;
color: white;
position: absolute;
left: 50%;
transform: translate(-50%,-50%);
}

.loadcolors {
    text-decoration: none;
    border: none;
    font-size: 30px;
    font-family:fantasy;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    cursor: pointer;
    outline: none;
    transition: 0.2s all;
    padding-top: 20px;
    padding-bottom: 20px;
    top: 525px;
    width: 162px;
    height: 90px;
}

/* Adding transformation when the button is active */

/* .loadcolors:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  } */
  .blink_me {
    animation: blinker 1s linear infinite;
  }

  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }

  .colorpanel{
    display: flex;
    width: 95%;
    margin: auto;
    left:25px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    position:absolute;
    bottom:30px;

  }
  .colorpanelbox {
    flex:1;
    min-width: 20px; max-width: 200px;
    min-height: 50px;
    padding: 15px 32px;
    text-align: center;
    border-radius: 10px;
  }
  .colorpanelbox:hover{
    border-style: solid;
    border-width: 5px;
    border-color: black;
    cursor: pointer;
    padding: 25px 40px;
  }

  .colorpanelbox:chosen{
    border-width: 8px;
    border-style: groove;
    border-color: black;
  }

.transiton{
  transition: background-color 1s ease;
}
.timer{
display: inline-block;
position: relative;
left: 45%;
bottom:75%
}

  #timetext{
    font-size: 30px;
    font-family: cursive;
    color: white;
    font-weight: bold;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff; }

#heart {
  visibility: visbility
  position: absolute;
}

.noshow{
  visibility: hidden;
}
@keyframes beat{
	to { transform: scale(1.4); }
}

.start{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 100px;
}
h1{
  font-family: fantasy;
  font-size: 30px;
  color: white
}
p{
  font-family: fantasy;
  font-size: 20px;
  color: white
}

}
.scroll-right {
 height: 50px;
 overflow: hidden;
 position: relative;
 background: black;
 color: orange;
 /* border: 1px solid orange; */
}
.scroll-right p {
 position: absolute;
 width: 100%;
 height: 100%;
 margin: 0;
 line-height: 50px;
 text-align: center;
 font-family: fantasy;
 font-size: 30px;
 /* Starting position */
 -moz-transform:translateX(-100%);
 -webkit-transform:translateX(-100%);
 transform:translateX(-100%);
 /* Apply animation to this element */
 -moz-animation: scroll-right 15s linear infinite;
 -webkit-animation: scroll-right 15s linear infinite;
 animation: scroll-right 15s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes scroll-right {
 0%   { -moz-transform: translateX(-100%); }
 100% { -moz-transform: translateX(100%); }
}
@-webkit-keyframes scroll-right {
 0%   { -webkit-transform: translateX(-100%); }
 100% { -webkit-transform: translateX(100%); }
}
@keyframes scroll-right {
 0%   {
 -moz-transform: translateX(-100%); /* Browser bug fix */
 -webkit-transform: translateX(-100%); /* Browser bug fix */
 transform: translateX(-100%);
 }
 100% {
 -moz-transform: translateX(100%); /* Browser bug fix */
 -webkit-transform: translateX(100%); /* Browser bug fix */
 transform: translateX(100%);
 }
}


.playagain{
background-color: green;
color: white;
position: absolute;
left: 50%;
transform: translate(-50%,-50%);
}

.playagain {
    text-decoration: none;
    border: none;
    font-size: 15px;
    font-family:fantasy;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    cursor: pointer;
    outline: none;
    transition: 0.2s all;
    padding-top: 20px;
    padding-bottom: 20px;
    top: 525px;
    width: 162px;
    height: 90px;
}
